@model ARTF2.Models.RegimenJuridico

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Detalles de Regimen</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Regimen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Regimen)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-info">Volver a la lista</a>
</div>
