@model ARTF2.Models.Solrf

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Editar Solicitud</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Numacuofsol" />
            <div class="form-group">
                <label asp-for="Obssol" class="control-label"></label>
                <textarea asp-for="Obssol" class="form-control" rows="5" maxlength="200"></textarea>
                <span asp-validation-for="Obssol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecapsol" class="control-label"></label>
                <input asp-for="Fecapsol" class="form-control" />
                <span asp-validation-for="Fecapsol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-info">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
