@model ARTF2.Models.Equiuni

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Crear Equipo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
            <div class="form-group">
                <label asp-for="NumacuofsolNavigator" class="control-label"></label>
                <select asp-for="NumacuofsolNavigator" class ="form-control" asp-items="ViewBag.NumacuofsolNavigator"></select>
            </div>
            <div class="form-group">
                <label asp-for="ModaequiIdNavigation" class="control-label"></label>
                <select asp-for="ModaequiIdNavigation" class ="form-control" asp-items="ViewBag.ModaequiIdNavigation"></select>
            </div>
            <div class="form-group">
                <label asp-for="TipequiIdNavigation" class="control-label"></label>
                <select asp-for="TipequiIdNavigation" class ="form-control" asp-items="ViewBag.TipequiIdNavigation"></select>
            </div>
            <div class="form-group">
                <label asp-for="CombuequiIdNavigation" class="control-label"></label>
                <select asp-for="CombuequiIdNavigation" class ="form-control" asp-items="ViewBag.CombuequiIdNavigation"></select>
            </div>
            <div class="form-group">
                <label asp-for="Nserie" class="control-label"></label>
                <input asp-for="Nserie" class="form-control" maxlength="50" oninput="verificarNumeroSerie()" />
                <span asp-validation-for="Nserie" class="text-danger"></span>
                <div id="mensajeDisponibilidad"></div>

            </div>
            <script>
                function verificarNumeroSerie() {
                    var numeroSerie = $("#Nserie").val();

                    $.ajax({
                        type: "POST",
                        url: "/Equiunis/VerificarNumeroSerie",
                        data: { Nserie: numeroSerie },
                        success: function (result) {
                            var mensaje = result.existe ? "Número de no serie disponible" : "Número de serie disponible";
                            $("#mensajeDisponibilidad").text(mensaje);
                            $("#btnGuardar").prop("disabled", result.existe);
                            $("#btnGuardar").prop("enable", !result.existe);
                        },
                        error: function (error) {
                            console.error("Error al verificar el número de serie", error);
                        }
                    });
                }
            </script>
            <div class="form-group">
                <label asp-for="Matricula" class="control-label"></label>
                <input asp-for="Matricula" class="form-control" oninput="verificarMatricula()" />
                <span asp-validation-for="Matricula" class="text-danger"></span>
                <div id="mensajeDisponibilidadMatricula"></div>
            </div>
            <script>
                function verificarMatricula() {
                    var matricula = $("#Matricula").val();

                    $.ajax({
                        type: "POST",
                        url: "/Equiunis/VerificarMatricula",
                        data: { Matricula: matricula },
                        success: function (result) {
                            var mensaje = result.existe ? "Matricula no serie disponible" : "Matricula disponible";
                            $("#mensajeDisponibilidadMatricula").text(mensaje);
                            $("#btnGuardar").prop("disabled", result.existe);
                            $("#btnGuardar").prop("enable", !result.existe);

                        },
                        error: function (error) {
                            console.error("Error al verificar la matricula", error);
                        }
                    });
                }
            </script>
            <div class="form-group">
                <label asp-for="RegiequiIdNavigation" class="control-label"></label>
                <select asp-for="RegiequiIdNavigation" class ="form-control" asp-items="ViewBag.RegiequiIdNavigation"></select>
            </div>
            <div class="form-group">
                <label asp-for="Graequi" class="control-label"></label>
                <input asp-for="Graequi" class="form-control" />
                <span asp-validation-for="Graequi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsoequiIdNavigation" class="control-label"></label>
                <select asp-for="UsoequiIdNavigation" class ="form-control" asp-items="ViewBag.UsoequiIdNavigation"></select>
            </div>
            <div class="form-group">
                <label asp-for="Fcons" class="control-label"></label>
                <input asp-for="Fcons" class="form-control" />
                <span asp-validation-for="Fcons" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nofact" class="control-label"></label>
                <input asp-for="Nofact" class="form-control" />
                <span asp-validation-for="Nofact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tcontra" class="control-label"></label>
                <input asp-for="Tcontra" class="form-control" />
                <span asp-validation-for="Tcontra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fcontra" class="control-label"></label>
                <input asp-for="Fcontra" class="form-control" />
                <span asp-validation-for="Fcontra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vcontra" class="control-label"></label>
                <input asp-for="Vcontra" class="form-control" />
                <span asp-validation-for="Vcontra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mrent" class="control-label"></label>
                <input asp-for="Mrent" class="form-control" />
                <span asp-validation-for="Mrent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonrentIdNavigation" class="control-label"></label>
                <select asp-for="MonrentIdNavigation" class ="form-control" asp-items="ViewBag.MonrentIdNavigation"></select>
            </div>
            <div class="form-group">
                <label asp-for="Obsarre" class="control-label"></label>
                <textarea asp-for="Obsarre" class="form-control" rows="5" maxlength="200"></textarea>
                <span asp-validation-for="Obsarre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Obsgra" class="control-label"></label>
                <textarea asp-for="Obsgra" class="form-control"  rows="5" maxlength="200"></textarea>
                <span asp-validation-for="Obsgra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Obsequi" class="control-label"></label>
                <textarea asp-for="Obsequi" class="form-control" rows="5" maxlength="200" ></textarea>
                <span asp-validation-for="Obsequi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameFichaDoc" class="control-label"></label>
                <input asp-for="NameFichaDoc" class="form-control" />
                <span asp-validation-for="NameFichaDoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fichaequi" class="control-label"></label>
                <input type="file" asp-for="Fichaequi" class="form-control" />
                <span asp-validation-for="Fichaequi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecharequi" class="control-label"></label>
                <input asp-for="Fecharequi" class="form-control" />
                <span asp-validation-for="Fecharequi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModaEquiId" class="control-label"></label>
                <select asp-for="ModaEquiId" class="form-control" asp-items="ViewBag.ModaEquiId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EmpresaId" class="control-label"></label>
                <select asp-for="EmpresaId" class="form-control" asp-items="ViewBag.EmpresaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FabricanteId" class="control-label"></label>
                <select asp-for="FabricanteId" class="form-control" asp-items="ViewBag.FabricanteId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MarcaId" class="control-label"></label>
                <select asp-for="MarcaId" class="form-control" asp-items="ViewBag.MarcaId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-success" id="btnGuardar" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Solrfs" asp-action="Index" class="btn btn-info">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
