@model ARTF2.Models.Equiuni

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Editar Equipo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
            <input type="hidden" asp-for="Idequi" />
            <div class="form-group">
                <label asp-for="NumacuofsolNavigator" class="control-label"></label>
                <select asp-for="NumacuofsolNavigator" class="form-control" asp-items="ViewBag.NumacuofsolNavigator"></select>
                <span asp-validation-for="NumacuofsolNavigator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModaequiIdNavigation" class="control-label"></label>
                <select asp-for="ModaequiIdNavigation" class="form-control" asp-items="ViewBag.ModaequiIdNavigation"></select>
                <span asp-validation-for="ModaequiIdNavigation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipequiIdNavigation" class="control-label"></label>
                <select asp-for="TipequiIdNavigation" class="form-control" asp-items="ViewBag.TipequiIdNavigation"></select>
                <span asp-validation-for="TipequiIdNavigation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CombuequiIdNavigation" class="control-label"></label>
                <select asp-for="CombuequiIdNavigation" class="form-control" asp-items="ViewBag.CombuequiIdNavigation"></select>
                <span asp-validation-for="CombuequiIdNavigation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nserie" class="control-label"></label>
                <input asp-for="Nserie" class="form-control" />
                <span asp-validation-for="Nserie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Matricula" class="control-label"></label>
                <input asp-for="Matricula" class="form-control" />
                <span asp-validation-for="Matricula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegiequiIdNavigation" class="control-label"></label>
                <select asp-for="RegiequiIdNavigation" class="form-control" asp-items="ViewBag.RegiequiIdNavigation" id="SelectRegimen"></select>
                <span asp-validation-for="RegiequiIdNavigation" class="text-danger"></span>
            </div>
            <script>
                $(document).ready(function () {
                    // Oculta el input Numero de factura
                    $('#labelNoFact').hide();
                    $('#inputNoFact').hide();

                    // Asocia un evento de cambio al selectRegimen
                    $('#SelectRegimen').change(function () {
                        console.log("Cambio detectado")
                        // Si el valor seleccionado es 'Propio', muestra el input de Numero de factura, de lo contrario, ocúltalo
                        console.log($(this).val());
                        if ($(this).val() === '2') {
                            $('#labelNoFact').show();
                            $('#inputNoFact').show();
                            $('#labelTipoContrato').hide();
                            $('#inputTipoContrato').hide();
                            $('#labelFechaContrato').hide();
                            $('#inputFechaContrato').hide();
                            $('#labelVigencia').hide();
                            $('#inputVigencia').hide();
                            $('#labelMonto').hide();
                            $('#inputMonto').hide();
                            $('#labelMoneda').hide();
                            $('#selectMoneda').hide();
                        } else {
                            $('#labelNoFact').hide();
                            $('#inputNoFact').hide();
                            $('#labelTipoContrato').show();
                            $('#inputTipoContrato').show();
                            $('#labelFechaContrato').show();
                            $('#inputFechaContrato').show();
                            $('#labelVigencia').show();
                            $('#inputVigencia').show();
                            $('#labelMonto').show();
                            $('#inputMonto').show();
                            $('#labelMoneda').show();
                            $('#selectMoneda').show();
                        }
                    });
                });
            </script>
            <div class="form-group">
                <label asp-for="Graequi" class="control-label"></label>
                <select asp-for="Graequi" class="form-control" >
                    <option value="true">Si</option>
                    <option value="false">No</option>
                </select>
                <!--<span asp-validation-for="Graequi" class="text-danger"></span>-->
            </div>
            <div class="form-group">
                <label asp-for="UsoequiIdNavigation" class="control-label"></label>
                <select asp-for="UsoequiIdNavigation" class="form-control" asp-items="ViewBag.UsoequiIdNavigation"></select>
                <span asp-validation-for="UsoequiIdNavigation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fcons" class="control-label"></label>
                <input asp-for="Fcons" class="form-control" />
                <span asp-validation-for="Fcons" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nofact" class="control-label" id="labelNoFact"></label>
                <input asp-for="Nofact" class="form-control" id="inputNoFact" />
                <span asp-validation-for="Nofact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tcontra" class="control-label" id="labelTipoContrato"></label>
                <input asp-for="Tcontra" class="form-control" id="inputTipoContrato" />
                <span asp-validation-for="Tcontra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fcontra" class="control-label" id="labelFechaContrato"></label>
                <input asp-for="Fcontra" class="form-control" id="inputFechaContrato" />
                <span asp-validation-for="Fcontra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vcontra" class="control-label" id="labelVigencia"></label>
                <input asp-for="Vcontra" class="form-control" id="inputVigencia" />
                <span asp-validation-for="Vcontra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mrent" class="control-label" id="labelMonto"></label>
                <input asp-for="Mrent" class="form-control" id="inputMonto" />
                <span asp-validation-for="Mrent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonrentIdNavigation" class="control-label" id="labelMoneda"></label>
                <select asp-for="MonrentIdNavigation" class="form-control" asp-items="ViewBag.MonrentIdNavigation" id="selectMoneda"></select>
                <span asp-validation-for="MonrentIdNavigation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Obsarre" class="control-label"></label>
                <textarea asp-for="Obsarre" class="form-control" rows="5" maxlength="200" ></textarea>
                <span asp-validation-for="Obsarre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Obsgra" class="control-label"></label>
                <textarea asp-for="Obsgra" class="form-control" rows="5" maxlength="200" ></textarea>
                <span asp-validation-for="Obsgra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Obsequi" class="control-label"></label>
                <textarea asp-for="Obsequi" class="form-control" rows="5" maxlength="200" ></textarea>
                <span asp-validation-for="Obsequi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameFichaDoc" class="control-label"></label>
                <input asp-for="NameFichaDoc" class="form-control" />
                <span asp-validation-for="NameFichaDoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fichaequi" class="control-label"></label>
                <input type="file" asp-for="Fichaequi" class="form-control" />
                <span asp-validation-for="Fichaequi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecharequi" class="control-label"></label>
                <input asp-for="Fecharequi" class="form-control" />
                <span asp-validation-for="Fecharequi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModaEquiId" class="control-label"></label>
                <select asp-for="ModaEquiId" class="form-control" asp-items="ViewBag.ModaEquiId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EmpresaId" class="control-label"></label>
                <select asp-for="EmpresaId" class="form-control" asp-items="ViewBag.EmpresaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FabricanteId" class="control-label"></label>
                <select asp-for="FabricanteId" class="form-control" asp-items="ViewBag.FabricanteId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MarcaId" class="control-label"></label>
                <select asp-for="MarcaId" class="form-control" asp-items="ViewBag.MarcaId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@Model.NumacuofsolNavigatorNavigation.Numacuofsol" class="btn btn-info">Volver a la lista</a>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
