@model ARTF2.Models.Permisoin

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Permisoin</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Numper" class="control-label"></label>
                <input asp-for="Numper" class="form-control" />
                <span asp-validation-for="Numper" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numofper" class="control-label"></label>
                <input asp-for="Numofper" class="form-control" />
                <span asp-validation-for="Numofper" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fechaper" class="control-label"></label>
                <input asp-for="Fechaper" class="form-control" />
                <span asp-validation-for="Fechaper" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Obper" class="control-label"></label>
                <input asp-for="Obper" class="form-control" />
                <span asp-validation-for="Obper" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipoper" class="control-label"></label>
                <input asp-for="Tipoper" class="form-control" />
                <span asp-validation-for="Tipoper" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lugaper" class="control-label"></label>
                <input asp-for="Lugaper" class="form-control" />
                <span asp-validation-for="Lugaper" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estaper" class="control-label"></label>
                <input asp-for="Estaper" class="form-control" />
                <span asp-validation-for="Estaper" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Munper" class="control-label"></label>
                <input asp-for="Munper" class="form-control" />
                <span asp-validation-for="Munper" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Obrper" class="control-label"></label>
                <input asp-for="Obrper" class="form-control" />
                <span asp-validation-for="Obrper" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vigenper" class="control-label"></label>
                <input asp-for="Vigenper" class="form-control" />
                <span asp-validation-for="Vigenper" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Condper" class="control-label"></label>
                <input asp-for="Condper" class="form-control" />
                <span asp-validation-for="Condper" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Noautpro" class="control-label"></label>
                <input asp-for="Noautpro" class="form-control" />
                <span asp-validation-for="Noautpro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Areares" class="control-label"></label>
                <input asp-for="Areares" class="form-control" />
                <span asp-validation-for="Areares" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Areapro" class="control-label"></label>
                <input asp-for="Areapro" class="form-control" />
                <span asp-validation-for="Areapro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fechaappro" class="control-label"></label>
                <input asp-for="Fechaappro" class="form-control" />
                <span asp-validation-for="Fechaappro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Proejeper" class="control-label"></label>
                <input asp-for="Proejeper" class="form-control" />
                <span asp-validation-for="Proejeper" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Natgar" class="control-label"></label>
                <input asp-for="Natgar" class="form-control" />
                <span asp-validation-for="Natgar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Montgar" class="control-label"></label>
                <input asp-for="Montgar" class="form-control" />
                <span asp-validation-for="Montgar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tergar" class="control-label"></label>
                <input asp-for="Tergar" class="form-control" />
                <span asp-validation-for="Tergar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cauter" class="control-label"></label>
                <input asp-for="Cauter" class="form-control" />
                <span asp-validation-for="Cauter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Replegal" class="control-label"></label>
                <input asp-for="Replegal" class="form-control" />
                <span asp-validation-for="Replegal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instnot" class="control-label"></label>
                <input asp-for="Instnot" class="form-control" />
                <span asp-validation-for="Instnot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Obsper" class="control-label"></label>
                <input asp-for="Obsper" class="form-control" />
                <span asp-validation-for="Obsper" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Homoins" class="control-label"></label>
                <input asp-for="Homoins" class="form-control" />
                <span asp-validation-for="Homoins" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
