@model ARTF2.Models.Insrf

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Editar Inscripción</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idins" />
            <div class="form-group">
                <label asp-for="NumacuofsolNavigator" class="control-label"></label>
                <select asp-for="NumacuofsolNavigator" class="form-control" asp-items="ViewBag.NumacuofsolNavigator"></select>
                <span asp-validation-for="NumacuofsolNavigator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Obsins" class="control-label"></label>
                <textarea asp-for="Obsins" class="form-control" rows = "5" maxlength="200"></textarea>
                <span asp-validation-for="Obsins" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecapins" class="control-label"></label>
                <input asp-for="Fecapins" class="form-control" />
                <span asp-validation-for="Fecapins" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Homoclaveins" class="control-label"></label>
                <input asp-for="Homoclaveins" class="form-control" />
                <span asp-validation-for="Homoclaveins" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-info">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
